.amount {
  min-width: 30%;
  display: inline-block;
}

.buttonTable {
  background-color: red;
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: bold; 
  font-size: 16px; 
  padding: 6px;
}