.PageLogin {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
} 

.card {
  width: 350px;
}

.PageLogin {
  background: url(./img/burger.jpg) no-repeat bottom center scroll;
  background-position: 30% 45%;
  background-size: cover;
}

.img-logo {
  position: relative;
  bottom: 0;
  max-width: 280px;
  max-height: 280px;
}

.input {
  display: flex;
  flex-direction: column;
}

.boxRegister {
  margin: 20px;
}

.textRegister {
  color: black;
}

.linkRegister {
  text-decoration:none; 
  color: blue;
}

